{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--tailwind cdn-->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!--flowbite cdn-->
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <!-- Alphine js-->
     <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
   
    <title>Base project for the "Django-The Easy Way" book | Mysite</title>

    <style type="text/tailwindcss">
      [x-cloak] {
        display: None !important;
      }

      .navitems>li>a {
        @apply p-2 hover:bg-slate-200 hover:rounded-lg hover:w-full;
      }
    </style>
</head>
<body>
    

    {% include "base/includes/navbar.html" %}

    

    <div class="lg:w-2/3 lg:mx-auto p-6">

        {% block content %}
        
        {% endblock content %}
    </div>


    <!--footer-->
    {% include "base/includes/footer.html" %}




    <!--flowbite js link-->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    
</body>
</html>